

body, button, input, select {
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.std-margin {
    margin-bottom: 4px;
}

.all-filters {
    display: flex;
    justify-content: space-between;
}

.sort-filter {
    display: flex;
}

.button {
    font-size: 16px;
    padding: 4px;
    margin: 0 8px 4px 0;
    cursor: pointer;
}

.button.left {
    margin: 0;
}

.note-list .finish-date {
    padding-left: 4px;
}



.design1 {
    background: white;
    color: black;
}

.detail-importance {
    cursor: pointer;
}

.design1 .bolt.active{
    color: red;
}

.design1 .detail-importance .bolt.hover,
.design1 .detail-importance .bolt:hover,
.design1 .bolt.active.hover{
    color: orange;
}


.design2 {
    background: black;
    color: white;
}

.design2 .detail-importance .bolt.hover,
.design2 .detail-importance .bolt:hover,
.design2 .bolt.active{
    color: orange;
}

.design2 .bolt.active{
    color: gold;
}

.design2 .list-entry-tab,
.design2 .list-content {
    border-color: white;
}

table.list-entry-tab {
    width: 100%;
    border: black solid 2px;
    margin: 24px 0;
    padding: 12px;
}

.pair {
    display: flex;
    margin-bottom: 4px;
}

.pair .label {
    width: 33%;
}

.pair .input {
    width: 45%;
}

.detail-save {
    width: 100%
}

.detail-cancel {
    float: right;
}

.detail-content {
    height: 110px;
}

textarea {
    overflow: auto;
    resize: both;
    font-size: 16px;
}

.list-entry-tab {
    margin: 12px;
}

.list-entry-tab td div {
    display: flex;
}

.list-entry-tab .col1 {
    width: 25%;
}

.list-entry-tab td {
    padding: 0 4px 0 4px;
}

.list-entry-tab .col3 {
    width: 10%;
}
.list-entry-tab textarea {
    width: 100%;
}

.list-entry-tab .title-importance {
    justify-content: space-between;
}

.list-content {
    white-space: pre-wrap;
    padding: 4px;
    margin: 4px 0;
    border: 1px solid black;

}
