<div class="pair">
    <div class="label">{{bla}}</div>
    <input class="detail-title" type="text" value="{{title}}">
</div>

<div class="pair">
    <div class="label">Beschreibung</div>
    <textarea class="detail-content">{{content}}</textarea>
</div>

<div class="pair">
    <div class="label">Wichtigkeit</div>
    <div class="detail-importance">
        <i class="fa fa-bolt bolt" aria-hidden="true" onclick="setBoltClass('active', 0)" onmouseover="setBoltClass('hover', 0)"></i>
        <i class="fa fa-bolt bolt" aria-hidden="true" onclick="setBoltClass('active', 1)" onmouseover="setBoltClass('hover', 1)"></i>
        <i class="fa fa-bolt bolt" aria-hidden="true" onclick="setBoltClass('active', 2)" onmouseover="setBoltClass('hover', 2)"></i>
        <i class="fa fa-bolt bolt" aria-hidden="true" onclick="setBoltClass('active', 3)" onmouseover="setBoltClass('hover', 3)"></i>
        <i class="fa fa-bolt bolt" aria-hidden="true" onclick="setBoltClass('active', 4)" onmouseover="setBoltClass('hover', 4)"></i>
    </div>
</div>

<div class="pair">
    <div class="label">Erledigt bis</div>
    <input class="detail-finish-date" type="date" value="{{finDate}}">
</div>