<div class="pair">
    <div class="label">{{bla}}</div>
    <input class="detail-title" type="text" value="{{title}}">
</div>

<div class="pair">
    <div class="label">Beschreibung</div>
    <textarea class="detail-content">{{content}}</textarea>
</div>

<div class="pair">
    <div class="label">Wichtigkeit</div>
    <div class="detail-importance">
        <i class="fa fa-bolt bolt1" aria-hidden="true"></i>
        <i class="fa fa-bolt bolt2" aria-hidden="true"></i>
        <i class="fa fa-bolt bolt3" aria-hidden="true"></i>
        <i class="fa fa-bolt bolt4" aria-hidden="true"></i>
        <i class="fa fa-bolt bolt5" aria-hidden="true"></i>
    </div>
</div>

<div class="pair">
    <div class="label">Erledigt bis</div>
    <input class="detail-finish-date" type="date" value="{{finDate}}">
</div>