.header {
    display: flex;
    justify-content: space-between;
}

.std-margin {
    margin-bottom: 4px;
}

.all-filters {
    display: flex;
    justify-content: space-between;
}

.sort-filter {
    display: flex;
}

.button {
    padding: 4px;
    margin: 0 8px 4px 0;
    cursor: pointer;
}



.design1 {
    background: white;
    color: black;
}

.detail-importance .hover,
.detail-importance :hover,
.detail-importance .active{
    color: red;
}


.design2 {
    background: black;
    color: white;
}

.design2.detail-importance .hover,
.design2.detail-importance :hover,
.design2.detail-importance .active{
    color: orange;
}

.pair {
    display: flex;
    margin-bottom: 4px;
}

.pair .label {
    width: 33%;
}

.pair .input {
    width: 45%;
}

.detail-save {
    width: 100%
}

.detail-cancel {
    float: right;
}

table.list-entry-tab {
    width: 100%;
}

.list-entry-tab td div {
    display: flex;
}

.list-entry-tab .col1 {
    width: 25%;
}

.list-entry-tab td {
    padding: 0 4px 0 4px;
}

.list-entry-tab .col3 {
    width: 10%;
}
.list-entry-tab textarea {
    width: 100%;
}

.list-entry-tab .title-importance {
    justify-content: space-between;
}