.header {
    display: flex;
    justify-content: space-between;
}

.all-filters {
    display: flex;
    justify-content: space-between;
}

.sort-filter {
    display: flex;
}

.button {
    padding: 4px;
    margin: 0 8px 4px 0;
    cursor: pointer;
    border: solid 1px;
}

.button:hover {
    background: grey;
}

.design1 {
    background: white;
    color: black;
}

.detail-importance .hover,
.detail-importance :hover,
.detail-importance .active{
    color: blue;
}


.design2 {
    background: black;
    color: white;
}

.design2.detail-importance .hover,
.design2.detail-importance :hover,
.design2.detail-importance .active{
    color: blue;
}

